.header {
  height: 20vh;
  display: block;
  background-color: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
}

.logo {
  height: 15vh;
  width: 8vw;
  margin: 2.5vh auto;
  display: inline-block;
}

.title {
  display: inline-block;
  position: relative;
  text-align: right;
  height: 100%;
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 4em;
}