.array-container {
  display: inline-block;
  margin-left: 15vw;
  width: 80vw;
  height: 80vh;
}

.array-bar {
  top: 30px;
  height: 3px;
  display: block;
  margin: 1px 0;
}

.buttons {
  display: inline-block;
  position: absolute;
  margin-top: 0%;
  margin-left: 0vw; 
  height: 80vh;
  width: 15vw;
  background-color: #6441a5;
  background: -webkit-linear-gradient(to bottom, #2a0845, #6441a5);
  background: linear-gradient(to bottom, #2a0845, #6441a5);
}

.btn {
  background-color: lightgreen;
  width: 12vw;
  height: 6vh;
  color: #222222;
  margin: 2vh 1.5vw;
}

.select {
  margin: 2vh 1.5vw;
  display: block;
  text-align-last: center;
  font-size: 1.1rem;
  height: 6vh;
  width: 12vw;
  background-color: lightgreen;
  border-radius: 5px;
  border: 1px solid blue;
}

.copyright {
  bottom: 0px;
}

img {
  width: 50%;
  display: block;
  margin: auto;
  align-items: center;
}

.gototop {
  position: absolute;
  margin-bottom: 5px;
  display: block;
}